<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/estilo2.css">
    <title>Formulario</title>
</head>
<body>
   
<form action="registro.php" method="post">
    <section class="form-registro">
        <h3>Formulario de registro</h3>

<input  class="controles" type="text" name="nombre" id="nombre" placeholder="Nombre:">
<input class="controles" type="text" name="apellido" id="apellido" placeholder="Apellido:">
<input class="controles" type="email" name="correo" id="correo" placeholder="Correo:">
<input class="controles"type="text" name="usuario" id="usuario" placeholder="Usuario:">
<input class="controles" type="password" name="contrasena" id="contrasena" placeholder="Contrasena:">
<input class="controles"type="date" name="fechanac" id="fechanac" placeholder="Fecha de nacimiento:">
<input class="controles"type="text" name="edad" id="edad" placeholder="Edad:">
<input class="controles"type="text" name="telefono" id="telefono" placeholder="Telefono:">
<p>Estoy de acuerdo con <a href="#" >Terminos y Condiciones</a></p>
<input class="botom" type="submit" value="Registrar">
<p><a href="#" >Ya tengo cuenta?</a></p>

</section>
</form>


</body>
</html>